inventory.dtd

<!ELEMENT inventory (books+)>
<!ELEMENT book (title, supplier, PartNumber, ManufacturerName, ManufacturerPartNumber, SystemPackaging)
<!ELEMENT title (#PCDATA)>
<!ELEMENT supplier (#PCDATA)>
<!ELEMENT PartNumber (#PCDATA)>
<!ELEMENT ManufacturerName (#PCDATA)>
<!ELEMENT ManufacturerPartNumber (#PCDATA)>
<!ELEMENT SystemPackaging (#PCDATA)>
