inventory.dtd

<!ELEMENT inventory (books+)>
<!ELEMENT book (title, supplier, part number, manufacturer name, manufacturer part number, system packaging)
<!ELEMENT title (#PCDATA)>
<!ELEMENT supplier (#PCDATA)>
<!ELEMENT part number (#PCDATA)>
<!ELEMENT manufacturer name (#PCDATA)>
<!ELEMENT manufacturer part number (#PCDATA)>
<!ELEMENT system packaging (#PCDATA)>
